*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(315deg,rgb(15, 245, 103),rgb(184, 142, 142));
}
.content{
    width: 100%;
    height: auto;
    margin-top: 50px;
}
.content22{
    width: 100%;
    margin-top: 50px;
}
.content1{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    flex-direction: row;
}
 h1{
    text-align: center;
    color: rgb(200, 243, 8);
}
.box{
    width: 25%;
    height: 200px;
    margin-top: 20px;   
}
.box img{
    width: 100%;
    height: 250px;
    padding: 10px;
    margin-bottom: -80px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.box1{
    text-align: center;
    cursor: pointer;
    transition: all .6s ease;
}
.box1 p{
    margin-bottom: 5px;
    color: whitesmoke;
    font-size: 4vmin;
    font-weight: bold;
}
.box1 a{
    border: 1px solid white;
    border-radius: 13px;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 2.3vmin;
}

.box1:hover{
    transform: translateY(-30px);
}
.box1 a:hover{
 color: aquamarine;
}

@media(max-width:992px){
    .content1{
        margin-top: -30px;
    }
    .box{
        width: 50%;
        height: auto;
        margin-top: 50px;   
    }
    .content{
        margin-top: 20px;
    }
}
@media(max-width:576px){
    .content1{
        margin-top: -30px;
    }
    .box{
        width: 100%;
        height: auto;
        margin-top: 50px;   
    }
    .content,.content22{
        margin-top: 20px;
    }
}