*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(315deg, rgb(168, 166, 4),rgb(180, 18, 132));
}
.parent{
    width: 100%;
    height: auto;
}
.ga{
    font-size: 4vmin;
    font-weight: bold;
    color: rgb(200, 255, 0);
    text-align: center;
    margin-top: 40px;
}
.be{
    font-size: 3vmin;
    font-weight: bold;
    color: rgb(38, 43, 36);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content{
    width: 100%;
    height: auto;
    background: white;
    border-radius: 20px;

    /*flex box*/
    flex-direction: row;
    display: flex;
    flex-flow: wrap;
    justify-content:space-evenly; /*important*/
}
.box{
    width: 18%;
    margin: 10px;
    overflow: hidden;
}
img{
    margin-top: 10px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    transition: .7s;
}

img:hover{
    transform: scale(1.8);
}
@media(max-width: 992px){
    .box{
        width: 30%;
        margin: 10px;
    }
  }

  @media(max-width: 576px){
    .box{
        width: 100%;
        margin: 1px 0px;
    }
    img{
        height: 300px;
    }
  }