*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(315deg, rgb(197, 12, 126),rgb(0, 60, 255));
	width: 100%;
    height:100vh;
}
p{
	color: white;
	text-align: center;
	padding-bottom: 1px;
    padding-top: 20px;
    font-size: 7vmin;
    font-weight: bold;
}
input,textarea{
    line-height: none;
	padding: 15px;
	border-radius: 50px;
    outline: none;
    font-size: 15px;
}
.container{
    width: 100%;
	width: 50vw;
	margin: auto;
}
.form-items{
    margin: 15px auto;
	display: grid;
	grid-template-rows: 100%;
}
button{
	width: 70%;
	position: relative;
	left: 15%;
	padding: 15px;
	border-radius: 12px;
	margin-top: 10px;
	background:linear-gradient(315deg, white,blue);
    font-size: 3vmin;
}
button:hover{
    background: linear-gradient(315deg,gray,yellow);
}
@media(max-width: 992px){
    .container{
        width: 80%;
    }
    input,textarea{
        padding: 10px;
        border-radius: 30px;
    }
  }

  @media(max-width: 576px){
 
  }