*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
body img{
    width: 100%;
    height: 100vh;
    position: absolute;
}
.row{
	position: absolute;
	width: 100%;
	background-size: cover;
	justify-content: center;
    background-position: center;
	align-items: center;
}
.row .row1{
	padding-top: 120px;
	display: block;
	align-items: center;
	justify-content: center;
	padding-left: 20px;
}
.row1 p{
    text-align: center;
    font-size: 7vmin;
    font-weight: bold;
    color: white;
}
.line{
    border: 3px solid blue;
    border-radius: 30px;
    margin: 0 43%;
}
.row .row1 .row2{
	padding-top: 20px;
	text-align: center;
}
input{
    width: 30%;
    border: none;
    background: none;
    padding: 10px;
    color: white;
    border-bottom: 1px solid white;
    outline: none; /*enleve le couleur*/
    font-size: 16px;
    font-weight: 300;
    resize: none;
    text-transform: capitalize;
}
input[type="submit"]{
	font-size: 1em;
	font-weight: 700;
	color: #fff;
	background:linear-gradient(315deg, white,blue);
	display: inline-block;
	cursor: pointer;
	border: 1px solid #111;
	letter-spacing: 2px;
    border-radius: 40px;
}
input[type="submit"]:hover{
	background: linear-gradient(315deg,gray,yellow);
}
.creer{
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
  }
  header.sticky .menuToggle{
	filter: invert(1);
}
  @media(max-width: 992px){
    input {
        width: 40%;
    }
    .line{
        margin: 0 38%;
    }
  }

  @media(max-width: 576px){
    input {
        width: 70%;
    }
    .line{
        margin: 0 20%;
    }
  }
