*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-size: cover;
    position: relative;
}
/*slide*/
.slider{
    margin-top: -70px;
     overflow: hidden;
}
.slider .slider-items img{
    width: 100%;
    height: 100vh;
}
.slider .slider-items .item{
    display: none;
}
.slider .left-slide{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #444444;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    top: 25%;
    margin-top: -20px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    left: 30px;
    }
    .slider .right-slide{
        position: absolute;
        height: 40px;
        width: 40px;
        background-color: #444444;
        border-radius: 50%;
        color: #fff;
        font-size: 20px;
        top: 25%;
        margin-top: -20px;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        right: 30px;
        }
        .slider .left-slide:hover,.slider .right-slide:hover{
            box-shadow: 0px 0px 10px red;
            background-color: #297cd5;
        }
        .slider .slider-items .item img{
            max-width: 100%;
            display: block;
            animation:zoom 1s ease;
        }
        @keyframes zoom{
            0%{transform: scale(2); opacity: 0}
            100%{transform: scale(1); opacity: 1 }
        }
.slider .slider-items .item .caption{
    background-color: rgb(192, 227, 228);
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    margin-top: -60px;
}
.slider .slider-items .item.active{
    display: block;
}
/*slide fin*/
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}
a:hover{
    color: rgb(223, 233, 170);
}
/*header*/
header{
    position: relative;
    /*z-index: -1;*/
    padding: 0 2rem;
    background-color: rgba(19, 7, 87, 0.2);
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.navbar .logo a{
font-size: 1.5rem;
font-weight: bold;
}
.navbar .links{
    display: flex;
    gap: 2rem;  /*space*/
}
.navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action_btn{
    background-color: rgba(7, 129, 243, 1);
    color: rgb(30, 235, 139);
    padding: 6px 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}
.action_btn:hover{
    scale: 1.05;
    color: rgb(238, 185, 10);
}
.action_btn:active{
    scale: 0.95s;
}
/*DROP MENU*/
.drop_menu{
    display: none;
    position: absolute;
    right: 2rem;
    height: 0px;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.drop_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.drop_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.drop_menu.open{
    height: 240px;
    z-index: 1;
}
/*paragraphe*/
.sign{
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.sign p{
    width: 100%;
    margin-top:-450px;
    text-align: center;
    color: #fff;
    font-size: 5vmin;
    font-weight: bold;
}
.sign .up,.sign .in{
    color: #fff;
    padding: 10px 15px;
    border: none;
    background: #297cd5;
    border-radius: 50px;
    font-size: 2.5vmin;
    margin: 0 3px;
    position: unset;
}
.up:hover,.in:hover{
    scale: 1.09s;
    letter-spacing: 2px;
    background: #03b13d;
}
.sign .signup{
    margin-top: 20px;
    text-align: center;
}
/*section*/
.section{
    background: linear-gradient(315deg, red,blue);
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.popular p{
    padding-top: 10px;
    padding-bottom: 5px;
    width: 100%;
    font-size: 4vmin;
    font-weight: bold;
    text-align: center;
}
.popular .line{
    border: 1px solid black;
}
.image-flex{
    display: flex;
}
.section .image{
    width: 23%;
    margin: 0 auto;
    padding: 10px 10px;
}
.image img{
    width: 100%;
}
.section .image .pa{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.pa p{
    margin-bottom: 40px;
    margin-top: -50px;
    font-size: 3vmin;
    color:rgb(138, 4, 138);
    font-weight: bold;
    transition: all 1s linear;
}
.pa a{
    border-radius: 15px;
    padding: 5px 10px;
    border: 1px solid white;
    transition: all 1s;
}
.pa p:hover{
    transform: translateY(-100px);
    cursor: pointer;
}
/*about*/
.about{
    width: 100%;
    background: linear-gradient(315deg,black,yellow);
    height: auto;
}
.about-div p{
    border: 1px solid black;
    text-align: center;
    font-size: 4vmin;
    font-weight: bold;
}
.facebook{
    width: 100%;
    text-align: center;
}
.facebook i{
    color: #03b13d;
    margin: 10px 5px;
    font-size: 4vmin;
}
.facebook .fa-solid.fa-user{
    color: #297cd5;
}
.contact{
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}
.contact p{
    font-size: 2vmin;
    margin-bottom: 5px;
}
.contact span{
    color: #0f1111;
    font-size: 2.8vmin;
    font-weight: bold;
}
/*javascript*/
header.sticky{
	background: #fff;
	padding: 10px 10px;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}
/*RESPONSIVE*/
@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .drop_menu{
        display: block;
    }
    p{
        font-size: 4vmin;
    }
    .image-flex{
        display:block;
    }
    .section .image {
        width: 100%;
      }
      .pa p{
        margin-bottom: 50px;
        font-size: 6vmin;
      }
      .sign{
        margin-top: 30px;
      }
      .slider .left-slide{
        top: 7%;
      }
      .slider .right-slide{
        top: 7%;
      }
      }
@media(max-width: 576px){
    .drop_menu{
        left: 2rem;
        width: unset; /* ou width: auto;*/
    }
    .slider .left-slide{
        top: 14%;
      }
      .slider .right-slide{
        top: 14%;
      }
}